/* Contenedor principal del formulario */
.tarjetaLogin {
  width: 400px;
  background-color: #e0eaf7;
  padding: 30px;
  margin: 60px auto;
  border-radius: 8px;
  font-family: 'calibri', sans-serif;
  color: 24303c;
}

/* Título */
.tarjetaLogin h2 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  color: #1f53c5
}

/* Inputs de correo y contraseña */
.correo,
.contrasena {
  width: 100%;
  background-color: #d2e4fd;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri', sans-serif;
  font-size: 18px;
  color: white;
}

/* Botón ingresar */
.ingresar {
  width: 100%;
  background-color: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ingresar:hover {
  background-color: #1661a0;
}

/* Link de registro */
.tarjetaLogin a {

  color: #1f53c5;
  font-size: 18px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.tarjetaLogin a:hover {
  text-decoration: underline;
}
